.header-homepg {
    display: flex;
    justify-content: space-between;
    height: 420px;
}

.backgr-homepage {
    width: 1370px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.image14 {
    width: 320px;
    height: 392px;
}

@font-face {
    font-family: unicaone;
    src: url(../font/Unica_One/UnicaOne-Regular.ttf);
}

.homepage-main .backgr-homepage .homepage-wrap .header-homepg ul p {
    font-family: unicaone;
    font-size: 90px;
    color: #aca8a4;
    margin-top: -0px;
    margin-top: 5px;
}

.image2 {
    margin-top: -50px;
}

.image3 {
    margin-top: -15px;
}

.homepage-main .backgr-homepage .homepage-wrap .header-homepg ul {
    margin-left: -15px;
}

.image4 {
    margin-left: 30px;
}


.homepg-detail {
    align-content: center;
    background-color: #e7daf4;
    width: 1370px;
    height: 432px;
    margin-top: 20px;
}

@font-face {
    font-family: unbou;
    src: url(../font/Unbounded/Unbounded-VariableFont_wght.ttf);
}

.homepage-main .backgr-homepage .homepage-wrap .homepg-detail ul {
    font-family: unbou;
    font-size: 90px;
    margin-top: -0px;
    margin-bottom: -20px;
    margin-left: 25px;
}

@font-face {
    font-family: montser;
    src: url(../font/Montserrat/Montserrat-VariableFont_wght.ttf);
}

.homepage-main .backgr-homepage .homepage-wrap .homepg-detail p {
    font-family: montser;
    font-size: 25px;
    width: 1224px;
    word-wrap: break-word;
    justify-self: center;
}

.imagebuynow {
    width: 396px;
    height: 108px;
    margin-left: 70px;
}

.top-catagory-backgr {
    display: flex;
}

.top-catagory {
    position: relative;
    padding-bottom: 50px;
    padding-top: 30px;
    margin-top: 60px;
    margin-bottom: 50px;
}

.top-catagory::before {
    content: ""; /* Tạo một phần tử ảo */
    position: absolute; /* Vị trí tuyệt đối */
    top: 0; /* Đặt nó ở trên cùng */
    left: 50%; /* Căn giữa phần tử theo chiều ngang */
    transform: translateX(-50%); /* Dịch chuyển về giữa chính xác */
    width: 1080px; /* Độ dài của đường border */
    border-top: 0.5px dashed black; /* Đường border đứt đoạn màu đen */
}

.top-catagory::after {
    content: ""; /* Tạo một phần tử ảo */
    position: absolute; /* Vị trí tuyệt đối */
    bottom: 0; /* Đặt nó ở trên cùng */
    left: 50%; /* Căn giữa phần tử theo chiều ngang */
    transform: translateX(-50%); /* Dịch chuyển về giữa chính xác */
    width: 1080px; /* Độ dài của đường border */
    border-bottom: 0.5px dashed black; /* Đường border đứt đoạn màu đen */
}

.homepage-main .backgr-homepage .homepage-wrap .top-catagory ul {
    display: flex;
    justify-content: center;
    font-family: unicaone;
    font-size: 60px;
}

.homepage-main .backgr-homepage .homepage-wrap .top-catagory .catagories li {
    list-style-type: none;
}

.catagories {
    justify-content: space-between;
    display: flex;
}


.cata {
    background: #83669e;
    width: 144px;
    justify-self: center;
    height: 30px;
    border-radius: 20px;
}

.homepage-main .backgr-homepage .homepage-wrap .top-catagory .catagories li .cata p {
    justify-self: center;
    font-size: 25px;
    font-family: unicaone;
    color: #ffffff;
}

.product-all {
    margin-left: auto;
    margin-right: auto;
    width: 1370px;
}

.product-title-homepg {
    font-family: unicaone;
    font-size: 60px;
    justify-self: center;
}

.homepage-main .backgr-homepage .homepage-wrap .product-all .product-text p {
    justify-content: center;
    justify-items: center;
    justify-self: center;
}

.homepage-main .backgr-homepage .homepage-wrap .product-all .product-orthers .product-search .search-filter ul {
    display: flex;
    font-family: montser;
    font-size: 25px;
    align-items: center;
    align-self: center;
    align-content: center;
}

.homepage-main .backgr-homepage .homepage-wrap .product-all .product-orthers .product-search .search-filter ul input {
    cursor: pointer;
}

.product-catagory {
    font-family: unicaone;
    font-size: 35px;
}

.filter {
    margin-top: -20px;
}

.homepage-main .backgr-homepage .homepage-wrap .product-all .product-orthers .product-search .product-filter ul {
    display: flex;
    font-family: montser;
    font-size: 25px;
}

.homepage-main .backgr-homepage .homepage-wrap .product-all .product-orthers .product-search .product-filter ul input {
    cursor: pointer;
}

.product-cost {
    font-family: unicaone;
    font-size: 35px;
}

.product-orthers {
    display: flex;
}


.product-search {
    margin-right: 60px;
    margin-top: -40px;
}

.homepg-image-detail {

box-sizing: border-box;

width: 288px;
height: 432px;

background: #8C5959;
border-radius: 20px 20px 0px 0px;


}

.product-infor-image-homepg {
    justify-self: center;
}

.homepg-image-detail p {
    font-family: montser;
    font-size: 20px;
    color: #ffffff;
    justify-self: center;
}

.text-product-homme-page {
    width: 240px;
    word-wrap: break-word;
}

.product-image-detail {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 125px;
}

.homepg-image-detail {
    display: flex;
  flex-direction: column;
  align-items: center;
  
  box-sizing: border-box;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 40px;
}

.product-bg-homepage {
    width: 1215px;

background: linear-gradient(180deg, #FEF9F3 0%, #FEF9F3 50%, #FEDFDD 100%);

border-top-left-radius: 20px;
border-top-right-radius: 20px;
}