@font-face {
    font-family: unicaone;
    src: url(../font/Unica_One/UnicaOne-Regular.ttf);
}

@font-face {
    font-family: montser;
    src: url(../font/Montserrat/Montserrat-VariableFont_wght.ttf);
}

.order-main .background .inner-wrapper .order-text-title p {
    font-family: unicaone;
    font-size: 50px;
}

.order-main .background .inner-wrapper .order-text-title {
    justify-self: center;
    margin-bottom: -30px;
}

.order-main .background .inner-wrapper .add-text p {
    font-family: montser;
    font-weight: 700;
    font-size: 25px;
}

.add-text {
    margin-bottom: -10px;
}

.order-main .background .inner-wrapper .ship {
    display: flex;
    justify-content: space-between;
}

.text-infor {
    font-family: montser;
    background: #d9d9d9;
    width: 200px;
    height: 52px;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 20px;
}

.name-ship {
    align-content: center;
}

.order-text {
    font-family: montser;
    background: #d9d9d9;
    width: 360px;
    font-size: 25px;
    margin-bottom: 20px;
    margin-left: -70px;
}

.text-detail {
    align-content: center;
}

.order-main .background .inner-wrapper .constact-customer {
    display: flex;
    justify-content: space-between;
}

.order-main .background .inner-wrapper .order-detail .name-infor {
    display: flex;
    justify-content: space-between;
    margin-right: 320px;
}




.order-main .background .inner-wrapper .order-detail .name-infor p {
    font-family: montser;
    font-size: 25px;
}


.order-main .background .inner-wrapper .order-detail .name-infor .name-right {
    display: flex;
}

.order-main .background .inner-wrapper .order-detail .name-infor .name-right p {
    margin-left: 20%;
}

.order-main .background .inner-wrapper .order-detail .infor-detail {
    display: flex;
    justify-content: space-between;
}

.order-main .background .inner-wrapper .order-detail .infor-detail p {
    font-family: montser;
    font-size: 25px;
}

.name-right-detail {
    margin-right: -100px;
}

.name-order-detail {
    width: 650px;
    word-wrap: break-word;
    margin-left: 30px;
}

.name-branch {
    margin-right: -25px;
}

.order-main .background .inner-wrapper .order-detail .infor-detail .name-right-detail {
    display: flex;
}

.order-main .background .inner-wrapper .order-detail .infor-detail .name-right-detail p {
    margin-right: 130px;
}


.order-main .background {
    width: 1296px;
    margin-left: auto;
    margin-right: auto;
}

.order-detail {
    background: #d9d9d9;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.order-button {

box-sizing: border-box;

width: 294px;
height: 73px;

background: linear-gradient(130.8deg, rgba(231, 218, 244, 0.8) 23%, rgba(35, 150, 174, 0.64) 73.16%);
border: 1px solid #2B2222;
box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;

font-size: 30px;
font-family: montser;
color: white;
cursor: pointer;

}


.order-total {

width: 294px;
height: 73px;

background: rgba(35, 150, 174, 0.8);
border-radius: 10px;
justify-content: center;
}

.my-order-total {
    justify-self: center;
    margin-top: 18px;
}

.inner-wrapper {
    justify-content: space-between;
}

.manage-topay-backgr-order {
    background-color: #d9d9d9;
    width: 1296px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}